<%= button_tag "getActors", 			id: "getActors" %>
<%= button_tag "totalGross", 			id: "totalGross" %>
<%= button_tag "titles", 					id: "titles" %>
<%= button_tag "starCount", 			id: "starCount" %>
<%= button_tag "loneliestBond", 	id: "loneliestBond" %>
<%= button_tag "oddBonds", 				id: "oddBonds" %>
<%= button_tag "bestBond", 				id: "bestBond" %>
<%= button_tag "worstBond", 			id: "worstBond" %>



<div>




</div>