"List o cats"
<div>
<% @cats.each do |cat| %>
  <div id="cat-record">
    <%= label_tag "Name:" %>
    <%= cat.name %>
  </div>
  <div>
    <%= label_tag "Age:" %>
    <%= cat.age %>
  </div>
  <div>
    <%= label_tag "Tag Line:" %>
    <%= cat.tag_line %>
  </div>
  <%= link_to("show", cat_path(cat)) %>
  <%= link_to("update", edit_cat_path(cat)) %>
  <%= link_to("delete", "/cat/#{cat.id}", method: "delete") %>
<% end %>
</div>

