<h2><%=@cat.name %></h2>
<img src = <%=@cat.image %> width="150" />
<p> "<%= @cat.tagline%>", <%= @cat.age%> human years old<br>
  <button>SO CUTE</button>
  <button>NOT SO CUTE</button>
<h3> CUTENESS: <%= @cat.cuteness%></h3>
